<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <h1
      class="mt-6 mb-5 is-size-3 has-text-weight-bold is-uppercase has-text-centered"
    >
      Welcome in Tasty Treats!
    </h1>
  </body>
</html>
